* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}
nav ul {
  display: flex;
  list-style-type: none;
  margin: 20px;
  gap: 50px;
  justify-content: space-between;
}
a {
  text-decoration: none;
}

main {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.input-section, .output-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

